__pycache__/main.cpython-39.pyc
__pycache__/module_main.cpython-39.pyc
__pycache__/settings.cpython-39.pyc
__pycache__/speak.cpython-39.pyc
settings.json
languages/en-en.json
languages/pl-pl.json
.vscode/launch.json
